<!--Author: Carson Perry-->
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@using (Html.BeginForm("CreateBoard", "Minesweeper", FormMethod.Post))
{
    <div class="row">
        <div class=" = " col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Size" class="control-label">Size of the Board</label>
                <input id="Size" type="number" name="Size" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Start Game" class="btn btn-success" />
            </div>

        </div>
    </div>
}