@model GameBoard

@{
    string[] images = { "0.png", "1.png", "2.png", "3.png", "4.png", "5.png", "6.png", "7.png", "8.png", "blank.png", "bomb.png", "flagged.png" };
}

<form method="post">
    <div class="button-zone">
        @for (int row = 0; row < Model.Size; row++)
        {
            //start a new line every five elements
            if (row % 5 == 0)
            {
                <div class="line-break"></div>
            }
            for (int col = 0; col < Model.Size; col++)
            {
                var coord = row + "," + col;
                <button class="game-button" type="submit" value=@coord name="buttonNumber" asp-controller="Minesweeper" asp-action="Click">
                    @if (Model.grid[row, col].visited)
                    {
                        <img class="game-button-image" src="~/img/@images[Model.grid[row, col].liveNeighbours]" />
                        <div class="button-label">@Model.grid[row, col].liveNeighbours</div>
                    }
                    else
                    {
                        if (Model.grid[row, col].flagged)
                        {
                            <img class="game-button-image" src="~/img/@images[11]" />
                            <div class="button-label">Flagged</div>
                        }
                        else
                        {
                            <img class="game-button-image" src="~/img/@images[9]" />
                        }
                    }
                </button>
            }
            <div class="line-break"></div>
        }
    </div>
    <div class="button-zone">
        @ViewBag.isDone
    </div>
</form>